@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url('../images/hero-img-overlay.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:1500px) {
    #hero {
        background-position-y: 20%;
    }
}